# Server Configuration
PORT=5050
NODE_ENV=production # Use 'production' for prod deployment, 'development' for local

# MongoDB Connection
# For production database
MONGODB_URI=mongodb+srv://username:password@hannahs-habits.gqtcz.mongodb.net/hannahs-habits-prod?retryWrites=true&w=majority&appName=hannahs-habits

# For development database (comment/uncomment as needed)
# MONGODB_URI=mongodb+srv://username:password@hannahs-habits.gqtcz.mongodb.net/hannahs-habits-dev?retryWrites=true&w=majority&appName=hannahs-habits

# JWT Secret (generate a strong unique value for production)
JWT_SECRET=your_jwt_secret_key